
div.page {
	width: 700px;
	margin: auto;
}

div.head {
	font-size: 300%;
	background: #9A118E;
	color: white;
}

div.flash{
	text-align: center;
}

#BookList{
	margin: 0px 0px 0px 20px;
	width: 50%;
	float: left;
}
#AuthorList{
	float: left;
}
.edit_pane{
    float: left;
    margin: 0px 0px 0px 50px;
    display: none;
}
.info{
    float: left;
}
div.menu a{
    font-size: x-large;
    margin: 0px 20px 0px 0px;
    text-decoration: none;
    color: #9A118E;
}

div.menu a:hover{
    color: white;
    background-color: #9A118E;
}


.record a{
    color: #104291;
    font-size: large;
    text-decoration: none;
}
.record a:hover{
    text-decoration: underline;
}


