{% extends "layout.html" %}
{% block menu %}
	{% if not session['sign_in'] %}
		<a href="{{ url_for('register') }}">Sing up</a>
		<a href="{{ url_for('sign_in') }}">Sing in</a>
	{% else %}
		<a href="{{ url_for('sign_out') }}">Sing out</a>
		<a href="{{ url_for('add_entity') }}">New record</a>
	{% endif %}
{% endblock %}
{% block body %}
	<div id="BookList">
		<h3>books:</h3>
		
	    <ul >
	    {% for book in books %}
	        <li><a href="{{url_for('book', bID=book.id)}}">{{book.title}}</a></li>
	    {% endfor %}
	    </ul>

	</div>

	<div id="AuthorList">
		<h3>authors:</h3>
	    <ul >
	    {% for author in authors %}
	        <li><a href="{{url_for('author', aID=author.id)}}">{{author.name}}</a></li>
	    {% endfor %}
	    </ul>
	</div>

{% endblock %}