<!doctype html>
<head>
  <title>Library</title>
  <script type=text/javascript src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class=page>
    <div class=head>
      Library
    </div>
    <div class=menu>
      {% block menu %}{% endblock %}
    </div>
    {% for message in get_flashed_messages() %}
      <div class=flash>{{ message }}</div>
    {% endfor %}
    <div class=body>
      {% block body %}{% endblock %}
    </div>

    <div class=footer>
    </div>
  </div>
</body>
